body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
}

body h1, body h2, body h3, body h4, body p, body a {
  color: #4a4b5e;
  font-size: 12px;
  margin: 0;
  line-height: 1.5;
}

.page {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  overflow: hidden;
  margin: 0 auto;
  max-width: 1440px;
}

.container {
  max-width: 920px;
  margin: 150px auto;
  padding: 0 15px;
}

.faq {
  background-color: #ffffff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 138px 23px 48px 23px;
  position: relative;
}

.faq__heading {
  color: #1d1e35;
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.faq__pattern {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.faq__woman {
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -110px;
}

.accordion__button {
  background: transparent;
  border: none;
  color: #4a4b5e;
  cursor: pointer;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 20px 0;
  position: relative;
  text-align: left;
  width: 100%;
}

.accordion__button:hover {
  color: #f47c57;
}

.accordion__button:focus {
  outline: none;
}

.accordion__button::after {
  content: '';
  background-image: url("../images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 6px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 9px;
}

.accordion__button--active {
  font-weight: 700;
}

.accordion__button--active::after {
  -webkit-transform: rotate(180deg) translateY(-50%);
          transform: rotate(180deg) translateY(-50%);
}

.accordion__content {
  display: none;
  height: 0;
  padding-bottom: 20px;
  -webkit-transition: height .3s ease-in-out;
  transition: height .3s ease-in-out;
}

.accordion__content--active {
  display: block;
  height: auto;
}

.accordion__separator {
  background-color: #e7e7e9;
  height: 1px;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution__link {
  color: #ffffff;
}

@media screen and (min-width: 950px) {
  .container {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    position: relative;
  }
  .u-show\@min-768 {
    display: block;
  }
  .u-hide\@min-768 {
    display: none;
  }
  .faq {
    padding: 70px 95px 84px 95px;
    overflow: hidden;
  }
  .faq__heading {
    padding-bottom: 30px;
    text-align: left;
  }
  .faq__container {
    margin-left: auto;
    width: 50%;
  }
  .faq__pattern {
    position: absolute;
    left: -596px;
    top: -303px;
    -webkit-transform: none;
            transform: none;
  }
  .faq__woman {
    left: -82px;
    top: 60px;
    -webkit-transform: none;
            transform: none;
  }
  .box {
    position: absolute;
    left: -93px;
    top: 190px;
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  .u-show\@768 {
    display: block;
  }
  .u-hide\@768 {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */