$black: #000000
$white: #ffffff
// Text
$very-dark-desaturated-blue: hsl(238, 29%, 16%)
$soft-red: hsl(14, 88%, 65%)

// Gradient
$soft-violet: hsl(273, 75%, 66%)
$soft-blue: hsl(240, 73%, 65%)

// Text
$very-dark-grayish-blue: hsl(237, 12%, 33%)
$dark-grayish-blue: hsl(240, 6%, 50%)

// Dividers
$light-grayish-blue: hsl(240, 5%, 91%)

// Typography
$base-font-family: 'Kumbh Sans', sans-serif
$base-font-color: $very-dark-grayish-blue
$base-font-size: 12px


// reset and base styles
body
    margin: 0
    font-family: $base-font-family
    height: 100vh

    h1, h2, h3, h4, p, a
        color: $base-font-color
        font-size: $base-font-size
        margin: 0

// Page
.page
    background-image: linear-gradient($soft-violet, $soft-blue)
    overflow: hidden
    margin: 0 auto
    max-width: 1440px

// container
.container
    max-width: 920px
    margin: 150px auto
    padding: 0 20px

// FAQ
.faq
    background-color: $white
    border-radius: 15px
    box-shadow: 0px 0px 10px rgba($black, .2)
    padding: 138px 23px 48px 23px

    &__container
        // margin-top: 138px

    &__heading
        color: $very-dark-desaturated-blue
        font-size: 28px
        font-weight: 700
        text-align: center
        text-transform: uppercase

// accordion
.accordion
    &__button
        background: transparent
        border: none
        color: $base-font-color
        cursor: pointer
        font-family: $base-font-family
        font-size: 13px
        margin: 0
        padding: 20px 0
        position: relative
        text-align: left
        width: 100%

        &:hover
            color: $soft-red

        &:focus
            outline: none

        &::after
            content: ''
            background-image: url('../images/icon-arrow-down.svg')
            background-repeat: no-repeat
            background-size: cover
            height: 6px
            position: absolute
            right: 0
            top: 50%
            transform: translateY(-50%)
            transform-origin: center
            width: 9px

        &--active
            font-weight: 700

            &::after
                transform: rotate(180deg) translateY(-50%)

    &__content
        display: none
        height: 0
        padding-bottom: 20px
        transition: height .3s ease-in-out

        &--active
            display: block
            height: auto

    &__separator
        background-color: $light-grayish-blue
        height: 1px
        width: 100%

@media screen and (min-width: 768px)
    .faq
        padding: 106px 95px 83px 95px

        &__heading
            text-align: left

        &__container
            margin-left: auto
            width: 50%